.create-item-container {
    background-color: rgba(28, 28, 28, 0.8); /* Transparent background */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error {
    color: red;
    font-size: 1.2em;
    margin-top: 0.25em;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    text-align: center;
}



label {
    margin-bottom: 5px;
    font-size: 1.2em;
}

input, textarea, select {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff79a1;
}
